amqp==5.1.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
autobahn==23.1.2
Automat==22.10.0
backports.zoneinfo==0.2.1
billiard==4.1.0
celery==5.3.0
channels==4.0.0
channels-redis==4.1.0

daphne==4.0.0
Django==3.2.10
django-cors-headers==3.5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0

Pillow==8.4.0

psycopg==3.1.12
psycopg2-binary==2.9.9

PyJWT==2.8.0

python-decouple==3.8

redis==5.0.1

